<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- LINKS -->
    <meta http-equiv="refresh" content="30" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ATIVIDADE</title>
    <link rel="stylesheet" type="text/css" href="css/atividade.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

</head>


<body>

    <div class="header">

        <h3 class="titulo-spacequest"><a href="./home-aluno">SPACE<br> ‎ ‎ QUEST</h3> </a>

        <div class="menu-cardapio"> 
            <%- include('../../partials/menu-superior') %>

        </div>

    </div>

<div class="atras">

        <div class="col-1">

            <div class="instruçoes">
                <h1 class="titulo"> Titulo da atividade</h1>
                <p class="vencimento-atv">02/05/1090</p>
                <p class="descriçao">
                    XXXXXXXXXXXXX
                    XXXXXXXXXXXX
                    <br>
                    XXXXXXXXXXXXXXX
                    XXXXXXXXXXXXX
                    <br>
                    XXXXXXXXXX
                    <br>
                    XXXXXXXXXXXXX
                    XXXXXXXXXXXXX
                    <br>
                    XXXXXXXXXXX
                    <br>
                    XXXXXXXXXXX

                </p>
            </div>
            <div class="caixa-arquivos">
                <div class="linha-1">
                    <div class="anexo">
                        <img class="img-anexo" src="img/anexo-icon.png">
                    </div>
                    <div class="anexo">
                        <img class="img-anexo" src="img/planilhas-icon.png">
                    </div>
                    <div class="anexo">
                        <img class="img-anexo" src="img/docs-icon.png">
                    </div>
                    <div class="anexo">
                        <img class="img-anexo" src="img/slides-icon.png">
                    </div>
                    <div class="anexo">
                        <img class="img-anexo" src="img/formularios-icon.png">
                    </div>

                </div>

                <div class="anexado">
                    <img class="img-anexado" src="img/anexo-icon.png">
                    <input type="file" placeholder=" DO ARQUIVO E BIBIBI BOBOBO">
                </div>

                <div class="anexado">
                    <img class="img-anexado" src="img/anexo-icon.png">
                    <input type="file" placeholder=" DO ARQUIVO E BIBIBI BOBOBO">
                </div>

            </div>

        </div>

        <div class="col-2">

            <div class="caixa-entrega">
                <h3>ENTREGUE DIA: 00/00/0000</h3>
                <img class="astrosentado" src="./img/astrosentado.png">

                <button class="entregar-button">ENTREGAR</button>


            </div>
        </div>
    </div>
    </div>

    </div> 
</body>

</html>