<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALUNOS</title>
</head>
<body>
    <h1>Lista de ALUNOS</h1>
    <ul>
        <% atividades.forEach(atividade => { %>
            <li><%= atividade.Titulo %></li>
        <% }); %>
    </ul>
</body>
</html>
