<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="refresh" content="30" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="css/calendario.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <title>CALENDARIO</title>
</head>

<body>
    <img class="img-fundo" src="img/fundo.png">

    <div class="header">

        <h3 class="titulo-spacequest"><a href="./">SPACE<br> ‎ ‎ QUEST</h3> </a>

        <div class="menu-cardapio"> 
     
            <%- include('../../partials/menu-superior') %>

        </div>

    </div>

    <div class="atras">

        <div class="col-1">
            <img class="img-astro" src="./img/astrosentado.png" alt="">

            <a href="/img/calendario1.jpg" class="button" download>
                BAIXAR CALENDARIO</a>
        </div>


    </div>
    </div>
</body>

</html>