<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desempenho Classe</title>

    <link rel="stylesheet" type="text/css" href="css/desempenho-classe.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>

    <div class="header">
        <a href="./home-aluno"> <img src="img/logo.svg" alt="img/logo.svg" class="logo">
        <div class="menu-cardapio">
            <%- include('../../partials/menu-superior') %>
        </div>
    </div>

    <div class="head">
        <a href="./desempenho-individual" class="paginas">
            <h2>Individual</h2>
        </a>
        <div class="linha"></div>
        <a href="./desempenho-classe" class="paginas">
            <h2>Classe </h2>
        </a>
        <div class="linha"></div>
        <a href="./desempenho-geral" class="paginas">
            <h2>Geral </h2>
        </a>
    </div>
    <br>

    <div class="corpo">
        <div class="pontuadores">
            <% turmas.forEach((turma, index) => { %>

            <div class="pontuador1">
                    <div class="usuario">
                        <h1>
                            <%= turma.nome_turma %> <!-- Aqui estamos acessando o nome da turma -->
                        </h1>
                    </div>
                    <div class="pontos">
                        <h1>
                            <%= turma.pontos %> <!-- Aqui estamos acessando os pontos da turma -->
                        </h1>
                    </div>
            </div>
            <% }) %>

        </div>
    </div>

</body>

</html>
