<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desempenho Classe</title>

    <link rel="stylesheet" type="text/css" href="css/desempenho-classe.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<!-- arthur -->

<body>
   
    <div class="header">

        <h3 class="titulo-spacequest"><a href="./home-aluno">SPACE<br> ‎ ‎ QUEST</h3> </a>

        <div class="menu-cardapio"> 
            <%- include('../../partials/menu-superior') %>

        </div>

    </div>

    <div class="head">
        <a href="./desempenho-individual" class="paginas">
            <h2>Individual</h2>
        </a>
        <div class="linha"></div>
        <a href="./desempenho-classe" class="paginas">
            <h2>Classe </h2>
        </a>
        <div class="linha"></div>
        <a href="./desempenho-geral" class="paginas">
            <h2>Geral </h2>
        </a>
    </div>
    <br>


    <div class="corpo">
        <div class="pontuadores">

            <div class="pontuador1">
                <div class="usuario">
                    <img src="./img/perfil imagem.png" alt="imagem de perfil">
                    <h1>Nome Usuario</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>

            <div class="pontuador2">
                <div class="usuario">
                    <img src="./img/perfil imagem.png" alt="imagem de perfil">
                    <h1>Nome Usuario</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>

            <div class="eu-pontuador">
                <div class="usuario">
                    <img src="./img/perfil imagem.png" alt="imagem de perfil">
                    <h1>Nome Usuario</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>
            <div class="pontuador4">
                <div class="usuario">
                    <img src="./img/perfil imagem.png" alt="imagem de perfil">
                    <h1>Nome Usuario</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>
            <div class="pontuador5">
                <div class="usuario">
                    <img src="./img/perfil imagem.png" alt="imagem de perfil">
                    <h1>Nome Usuario</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>


        </div>
    </div>
</body>
</body>

</html>