<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desempenho Individual</title>
    <link rel="stylesheet" type="text/css" href="css/desempenho-individual.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

    <div class="header">
        <h3 class="titulo-spacequest"><a href="./home-aluno">SPACE<br> ‎ ‎ QUEST</a></h3>
        <div class="menu-cardapio">
            <%- include('../../partials/menu-superior') %>
        </div>
    </div>

    <div class="head">
        <a href="./desempenho-individual" class="paginas">
            <h2>Individual</h2>
        </a>
        <div class="linha"></div>
        <a href="./desempenho-classe" class="paginas">
            <h2>Classe </h2>
        </a>
        <div class="linha"></div>
        <a href="./desempenho-geral" class="paginas">
            <h2>Geral </h2>
        </a>
    </div>

    <div class="corpo">
        <div class="tras">

            <!-- Exibe o desempenho individual -->
            <% if (desempenhoAluno.length > 0) { %>
                <% desempenhoAluno.forEach((materia) => { %>
                    <div class="materia">
                        <div class="usuario">
                            <h1><%= materia.materia.nome_materia %></h1> <!-- Nome da matéria -->
                        </div>
                        <div class="pontos">
                            <h1><%= materia.pontos %></h1> <!-- Pontos na matéria -->
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nenhum desempenho encontrado.</p>
            <% } %>

        </div>
    </div>

</body>

</html>
