<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- LINKS -->
    <meta http-equiv="refresh" content="30" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <script src="./src/scriptslide.js" defer></script>
    <title>HOME ALUNO</title>
</head>

<body>

    <img class="img-fundo" src="img/fundo.png">
    
    <div class="col-1">
        <div class="atras-menu">
            <%- include('../../partials/menu-lateral') %>
        </div>


        <div class="corpo">

            <div class="hearder">

                <div class="linha"></div>
                <img class="nave" src="img/nave-espacial.png">
            </div>

                <div class="planetas-bimestrais">
                    <img class="img-planetas" src="img/planeta 01Bimestre.png">
                    <img class="img-planetas" src="img/planeta 02Bimestre.png">
                    <img class="img-planetas" src="img/planeta 03Bimestre.png">
                    <img class="img-planetas" src="img/planeta 04Bimestre.png">
                </div>



            <div class="atras">

                

                <div class="col-2">

                        <div class="noticias">
                            <h3>Noticías</h3>

                            <div class="container-slider">
                    
                                <div class="container-images">
                                  <img src="img/slide1.png" alt="girl" class="slider on">
                                  <img src="img/slide2.png" alt="girl" class="slider">
                                  <img src="img/slide3.png" alt="girl" class="slider">
                                </div>
                            
                              </div>
                            

                        </div>
                    .
                        <div class="pendencias">

                            <h3>Pendências</h3>
          
                            <h1>12</h1>
                            <img class="pendencias-img" src="img/pendencia.png">

                        
                        </div>
                </div>

            <div class="col-3">

                <div class="grafico">
                        <canvas id="myChart"></canvas>
                      
                </div>

                <div  class="minigame">
   
                    <h3 class="titulo-spacequest">SPACE<br>‎ ‎ QUEST</h3>
                    <img class="kart" src="img/astrokart.png">
    
                </div>
            </div>
            <div class="div-semana">
                <div class="semana">
                    <p>SEG</p>
                </div>
                <div class="semana">
                    <p>TER</p>
                </div>
                <div class="semana">
                    <p>QUA</p>
                </div>
                <div class="semana">
                    <p>QUI</p>
                </div>
                <div class="semana">
                    <p>SEX</p>
                </div>
                <div class="semana">
                    <p>SAB</p>
                </div>
                <div class="semana">
                    <p>DOM</p>
                </div>
            </div>

            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const ctx = document.getElementById('myChart');
          
            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                  label: '# of Votes',
                  data: [12, 19, 3, 5, 2, 3],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>
          
</body>

</html>

