<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- LINKS -->
    <meta http-equiv="refresh" content="30" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <title>HOME ALUNO</title>
</head>

<body>

    <img class="img-fundo" src="img/fundo.png">
    <div class="col-1">
        <div class="atras-menu">
            <%- include('../../partials/menu-lateral') %>
        </div>

        <div class="corpo">

            <div class="hearder">

                <div class="planetas-bimestrais">
                    <img class="img-planetas" src="img/planeta 01Bimestre.png">
                    <img class="img-planetas" src="img/planeta 02Bimestre.png">
                    <img class="img-planetas" src="img/planeta 03Bimestre.png">
                    <img class="img-planetas" src="img/planeta 04Bimestre.png">
                </div>

                <div class="linha"></div>
                <img class="nave" src="img/nave-espacial.png">
            </div>

            <div class="atras">

                <div class="col-2">
                    <div class="col-3">
                        <div class="noticias">
                            <h3>Noticías</h3>
                        </div>
                        <div class="pendencias">
                            <h3>Pendências</h3>
                            <h1>9</h1>
                        </div>
                    </div>

                    <a href="./minigame-kart" class="minigame">
                        <h3 class="titulo-spacequest">SPACE<br>‎ ‎ QUEST</h3>
                        <img class="kart" src="img/astrokart.png">
                    </a>

                </div>

                <div class="div-semana">
                    <div class="semana">
                        <p>SEG</p>
                    </div>
                    <div class="semana">
                        <p>TER</p>
                    </div>
                    <div class="semana">
                        <p>QUA</p>
                    </div>
                    <div class="semana">
                        <p>QUI</p>
                    </div>
                    <div class="semana">
                        <p>SEX</p>
                    </div>
                    <div class="semana">
                        <p>SAB</p>
                    </div>
                    <div class="semana">
                        <p>DOM</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>
