<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Matérias - Aluno</title>
    <link rel="stylesheet" href="/css/materia.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">

    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>

    
    <div class="header">
        <a href="./home-aluno"> <img src="img/logo.svg" alt="img/logo.svg" class="logo">
        <div class="menu-cardapio">
            <%- include('../../partials/menu-superior') %>
        </div>
    </div>
    <img class="img-fundo" src="img/fundo.png">

        <div class="caixa-atras">
            
            <div class="caixa-titulo-pagina"><h1>Matérias</h1></div>
            <div class="caixa-container-materias">
                <% if (materias && materias.length > 0) { %>
                    <% materias.forEach(materia => { %>
                        <div class="caixa-materia" style="background-color: <%= materia.materia.cor_materia %>;">
                            <h2><%= materia.materia.nome_materia %></h2>
                            <a href="/materia-atividades/<%= materia.id_materia %>" class="btn-ver-atividades">
                                <div class="icons"> 
                                    <img class="icons-img" src="img/icon1.png">
                                    <img class="icons-img" src="img/icon2.png">
                                    <img class="icons-img" src="img/icon3.png">
                                </div>
                            </a>
                        </div>
                    <% }) %>
                <% } %>
            </div>
          
        </div>

</body>
</html>