<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- LINKS -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="refresh" content="30" />
    <title>DOWNLOADS</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/materia-mural.css">

</head>

<body>
   
    <div class="header">

        <h3 class="titulo-spacequest"><a href="./home-aluno">SPACE<br> ‎ ‎ QUEST</h3> </a>

        <div class="menu-cardapio"> 
            <%- include('../../partials/menu-superior') %>

        </div>

    </div>

    </div>
    <div class="col-1">

        <div class="img-materia" href="./materia">
            <div class="h1" href="./materia">
                <h1 href="./materia">NOME MATERIA</h1>
            </div>
        </div>


    </div>



    <div class="col-2">

        <div class="col-navegacao">
            <div class="navegacao">
                <a href="../materia-downloads/<%= id %>" class="paginas"><h2>Downloads</h2></a>
                <a href="../materia-atividades/<%= id %>" class="paginas"><h2>Atividades</h2></a>
                <a href="../materia-mural/<%= id %>" class="paginas"><h2>Minigame</h2></a>
            </div>
        </div>

        <div class="col-3">

            <div class="titulo-postagem">
                <div class="linha"></div>
                <h2>DOWNLOADS</h2>
            </div>

            <div class="col-4">




                <div class="postagem">

                    <img class="img-perfil" src="img/perfil imagem.png">

                    <a class="button" href="img/Julia Quinn - 03 Um Perfeito Cavalheiro - Copia.epub" download>
                        <h3>Livro Didatico.pdf </h3>
                    </a>
                </div>

                <div class="postagem">

                    <img class="img-perfil" src="img/perfil imagem.png">

                    <a class="button" href="img/Julia Quinn - 03 Um Perfeito Cavalheiro - Copia.epub" download>
                        <h3>Livro Didatico.pdf </h3>
                    </a>
                </div>
                <div class="postagem">

                    <img class="img-perfil" src="img/perfil imagem.png">

                    <a class="button" href="img/Julia Quinn - 03 Um Perfeito Cavalheiro - Copia.epub" download>
                        <h3>Livro Didatico.pdf </h3>
                    </a>
                </div>
                <div class="postagem">

                    <img class="img-perfil" src="img/perfil imagem.png">

                    <a class="button" href="img/Julia Quinn - 03 Um Perfeito Cavalheiro - Copia.epub" download>
                        <h3>Livro Didatico.pdf </h3>
                    </a>
                </div>
                <div class="postagem">

                    <img class="img-perfil" src="img/perfil imagem.png">

                    <a class="button" href="img/Julia Quinn - 03 Um Perfeito Cavalheiro - Copia.epub" download>
                        <h3>Livro Didatico.pdf </h3>
                    </a>
                </div>

            </div>

        </div>
    </div>

    </div>
</body>

</html>