<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- LINKS -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="refresh" content="30" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/materia-atividades.css">
</head>

<body>

    <div class="header">

        <h3 class="titulo-spacequest"><a href="./">SPACE<br> ‎ ‎ QUEST</h3> </a>

        <div class="menu-cardapio"> 
            <%- include('../../partials/menu-superior') %>

        </div>

    </div>

    </div>
    <div class="col-1"> 

        <div class="img-materia">
           <h1 lass="h1" href="./materia">NOME MATERIA</h1>
            </div>
        </div>

        <div class="col-2">

            <div class="col-navegacao">
                <div class="navegacao">
                    <a href="./materia-mural" class="paginas">
                        <h2>mural</h2>
                    </a>
                    <div class="linha"></div>
                    <a href="./materia-downloads" class="paginas">
                        <h2>downloads</h2>
                    </a>
                    <div class="linha"></div>
                    <a href="./materia-atividades" class="paginas">
                        <h2>atividades</h2>
                    </a>
                </div>
            </div>

            <div class="col-3">

                <div class="titulo-postagem">
                    <div class="linha"></div><h2>ATIVIDADES</h2>
                </div>
                
                <div class="col-4">

                            <div class="postagem">
                                <img class="img-perfil" src="img/perfil imagem.png">
         
                                <h3>Lista 1 - Fundamentos</h3>
                            </div>

                            <div class="postagem">
                                <img class="img-perfil" src="img/perfil imagem.png">
         
                                <h3>Lista 1 - Fundamentos</h3>
                            </div>

                            <div class="postagem">
                                <img class="img-perfil" src="img/perfil imagem.png">
         
                                <h3>Lista 1 - Fundamentos</h3>
                            </div>

                            <div class="postagem">
                                <img class="img-perfil" src="img/perfil imagem.png">
         
                                <h3>Lista 1 - Fundamentos</h3>
                            </div>

                            <div class="postagem">
                                <img class="img-perfil" src="img/perfil imagem.png">
         
                                <h3>Lista 1 - Fundamentos</h3>
                            </div>
                            <div class="postagem">
                                <img class="img-perfil" src="img/perfil imagem.png">
         
                                <h3>Lista 1 - Fundamentos</h3>
                            </div>
                            <div class="postagem">
                                <img class="img-perfil" src="img/perfil imagem.png">
         
                                <h3>Lista 1 - Fundamentos</h3>
                            </div>


                </div>
            </div>


        </div>

    </div>        
</body>

</html>