<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="refresh" content="" />

    <TItle>PERFIL</TItle>
    <link rel="stylesheet" href="css/perfil.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

    <img class="img-fundo" src="img/fundo.png">

    <div class="header">

        <h3 class="titulo-spacequest"><a href="./home-aluno">SPACE<br> ‎ ‎ QUEST</h3> </a>

        <div class="menu-cardapio"> 
            <%- include('../../partials/menu-superior') %>

        </div>

    </div>

    <div class="tras">

    <br>


        <div class="col-1">
            <h1 class="dados-usuario">Dados do Usuario</h1>
            <p class="descriçao">
                SENHA: <input type="text" placeholder="senha"> <button>SALVAR</button>
                <br>
                <br>
                INFO:XXXXXXX
                <br>
                <br>
                INFO:XXXXXXXXXX
                <br>
                <br>
                INFO:XXXXXXXX
                <br>
                <br>
                INFO:XXXXX
                <br>
                <br>
                INFO:XXXXXXXX
                <br>
                <br>
                INFO:XXXXXXXX
                <br>
                <br>
                INFO:XXXXXX
                <br>
                <br>
                INFO:XXXXXX

            </p>
        </div>

        <div class="col-2">

            <div class="linha1">
                <div class="caixa-usuario">
                    <div class="caixa-img-usuario">
                        <img class="img-perfil" src="img/perfil imagem.png">
                        <p class="nome-usuario">NOME USUARIO</p>
                    </div>
                    <p class="nome-usuario">NOME USUARIO</p>
                </div>

                <div class="caixa-materia">
          

                    <h3>Pendências</h3>
          
                    <h1>12</h1>
                    <img class="pendencias-img" src="img/pendencia.png">

                </div>

            </div>

            <div class="linha2">
                <div class="caixa-frequencia">FREQUENCIA</div>
            </div>

        </div>



</div>
</body>

</html>