<link rel="stylesheet" href="css/menu-lateral.css">
<link rel="stylesheet" href="css/main.css">
<div class="corpomenu">

    <div class="usuario">

        <a href="./perfil">
            <img class="img-perfil" src="img/perfil imagem.png"></a>

        <p class="p">NOMEUSUARIO</p>

    </div>
    <div class="menus">
        <br>
        <a href="./materias">MATERIAS</a>
        <a href="./materia-atividades">ATIVIDADES</a>
        <a href="./desempenho-individual">RANKING</a>
        <a href="./calendario">CALENDARIO</a>
        <a href="./pendencias">PENDENCIAS</a>
        <a href="./quiz-perguntas/:id">SPACEQUEST</a>


    </div>

</div>

