
            
input {
    box-shadow: none;
    border: none;
    outline: none;
}

button {
    box-shadow: none;
    border: none;
    outline: none;
}

a {
    box-shadow: none;
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    /* font-family: "Russo One", serif; */
    color: #ffffff;
    overflow: hidden;
    background-repeat: no-repeat;
}

h1 {
    font-size: 2rem;
    /* 32px */
}

p {
    font-size: 1rem;
    /* 16px */
}
              
@media screen and (min-width: 416px)
/*GRANDES*/
    {
    body {
        height: 100vh;
        width: 100%;
        margin: 1em auto;
        display: flex;
        overflow-y: hidden;
        flex-direction: column;
        align-items: center;
        background: var(--gradiente-body);
    }

    a {
        color: #ffffff;
    }
         
    .atras {
        width: 80%;
        height: 80%;
        flex-shrink: 0;
        align-items: center;

        filter: var(--shadow-filter);
        display: flex;
        justify-content: space-between;
        background-color: rgba(127, 255, 212, 0);
    }

    .header{
        width: 98%;
    }

    .col-1 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 1%;
        background-color: rgba(137, 43, 226, 0);
        
    }

    .col-2 {
        width: 35%;
        display: flex;
        justify-items: end;
        background-color: rgba(95, 158, 160, 0);
    }

    .instrucoes {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: end;
        flex-wrap: wrap;
    }

    .linha-1 {
        display: flex;
        width: 100%;
        height: 25%;
        margin-top: 1%;
        background-color: #00000000;

    }

    .anexado {
        display: flex;
    }

    .titulo {
        width: 100%;
        height: 40%;
        background-color: #04266100;
        font-size: 30px;
    }

    .vencimento-atv {
        width: 30%;
        height: 10%;
        background-color: rgba(0, 255, 255, 0);
        align-self: self-start;
    }

    .descricao {
        width: 90%;
        height: 75%;
        font-size: 15px;
        background-color: #00000000;
        align-self: self-start;
    }

    .anexado {
        width: 95%;
        height: auto;
        margin-top: 3%;
        border-radius: 30px;
        background: var(--transparencia);
        color: white;
        border: solid 1px;

    }

    .caixa-arquivos {
        width: 70%;
        height: 38%;
        flex-shrink: 0;
        flex-direction: column;
        border-radius: 30px;
        display: flex;
        padding: 1%;
        background-color: var(--caixas);
        background: rgba(255, 255, 255, 0.60);

margin-top: 10%;
    }



    .anexo {
        width: 12%;
        height: 100%;
        border-radius: 100px;
        background-color: #ffffff;
        margin-left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-anexo {
        width: 70%;
        height: 70%;
        border-radius: 5%;
    }

    .img-anexado {
        width: 7%;
        height: 70%;
        border-radius: 5%;
        margin: 1.5%;
    }

    .col-2 {
        justify-content: center;
        flex-wrap: wrap;

        border-radius: 10%;
    }

    .entregar-button {
        width: 25%;
        height: 15%;
        flex-shrink: 0;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        background: var(--gradiente-button);
        border-radius: 30px;
        border: 5px solid #000;
        background: #042661;
        margin-top: 25%;
        color: white;
        position: fixed;
    }

    .entregar{
        font-size: 36px;
        color: white;
    }

    .astrosentado {
        width: 70%;
        height: 50%;
        flex-shrink: 0;
        display: flex;
        position: static;
        margin-top: 10%;
    }

    .caixa-entrega {
        width: 30%;
        height: 85%;
        flex-shrink: 0;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--caixas);
padding: 3%;
    }
}












@media screen and (max-width: 415px)
/*PQ*/
    {
    body {
        width: 100%;
        height: 100vh;
        margin: 1em;
        display: flex;
        overflow: auto;
        flex-direction: column;
        background: var(--gradiente-body);
    }

    a {
        color: #ffffff;
    }

    .header {
        width: 95%;
        height: 10vh;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-cardapio {
        height: 2vh;
        margin: 0;
    }

    .atras {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .col-1 {
        width: 100%;
        flex-direction: column;
        margin-left: 1%;
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
    }

    .col-2 {
        margin-top: 2%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .linha-1 {
        display: flex;
    }

    .anexado {
        display: flex;
    }

    .instruçoes {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 5%;
        background-color: red;
    }

    .titulo {
        width: 100%;
        height: 10%;
        margin-bottom: 4%;
        padding: 3%;
    }

    .vencimento-atv {
        width: 100%;
        height: 7%;
        margin-bottom: 4%;
        padding: 3%;
    }

    .descrição {
        width: 100%;
        height: 30%;
    }

    .caixa-arquivos {
        width: 90%;
        height: 40%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        display: flex;
        background-color: var(--caixas);
    }

    .anexado {
        width: 95%;
        height: 20%;
        margin-top: 3%;
        border-radius: 30px;
        background: var(--transparencia);
        color: white;
        border: solid 1px;
    }

    .linha-1 {
        width: 100%;
        height: 25%;
        margin-top: 1%;
        background-color: transparent;
        align-items: center;
        justify-content: center;
  
    }

    .anexo {
        width: 12%;
        height: 100%;
        border-radius: 100px;
        background-color: #ffffff;
        margin-left: 1%;
        justify-content: center;
        align-items: center;
    }

    .img-anexo {
        width: 70%;
        height: 70%;
        display: flex;
        align-items: center;
        border-radius: 5%;
    }

    .img-anexado {
        width: 7%;
        height: 70%;
        border-radius: 5%;
        margin: 1.5%;
    }

    .col-2 {
        width: 100%;
        
    }

    .entregar-button {
        width: 40%;
        height: 5%;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        background: var(--gradiente-button);
        margin-top: 43%;
        color: white;
        position: fixed;
    }

    .astrosentado {
        width: 60%;
        height: 73%;
        margin-top: 6%;
        display: flex;
        position: static;
    }

    .caixa-entrega {
        width: 90%;
        height: 100%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--caixas);
    }
}