input,
button,a {
    box-shadow: none;
    border: none;
    outline: none;
    text-decoration: none;
}

.titulo-spacequest{
  font-size: 16px;
}
/* TELA GRANDE */

body {
  height: 100vh;
  width: 100vw;
  font-family: "Russo One", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #042661 0%, #41BDDA 100%);
  overflow: hidden;
}

.header{
  width: 100%;
  height: 15%;
}

.logo{
  max-width: 100%;
  max-height: 100%;
}
.head {
  width: 65%;
  height: 7%;
  border-radius: 4.86vh;
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.corpo {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 75%;
}



.pontuadores {
  width: 90%;
  height: 90%;
  border-radius: 40px;
  display: flex;
  padding: 2vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
overflow-y: scroll;
}

.pontuadores::-webkit-scrollbar {
  background-color: #ffffff;
  height: max-content;
  width: 10px;
}

.pontuadores::-webkit-scrollbar-thumb {
  height: 10%;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #042763;
}



.pontuador1,
.pontuador5 {
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.50);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 75%;
  height: 15%;
  display: flex;  
  margin-top: 3%;
  flex-direction: row;
  justify-content: space-around;
}
.pontuador2,
.pontuador4 {
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.50);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  width: 85%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.eu-pontuador {
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.50);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 17%;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
}
.usuario {
  display: flex;
  align-items: center;
  width: 60%;

}
.pontos {
  display: flex;
  align-items: center;
}
img {
  height: 90%;
  border-radius: 30px;
  
}
h1 {
  font-size: 2em;

  padding: 5%;
}
a {

  text-decoration: none;
  color: #fff;
  font-size: 2vh;
}
.linha {
  border: 1px;
}



@media screen and (max-width: 415px)/*TELA PEQUENA*/ {
  body {
    font-size: 90%;

    height: 100vh;
    width: 100%;
    font-family: "Russo One", sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #042661 0%, #41BDDA 100%);
  }

  .head {
    width: 100%;
    height: 10%;
    border-radius: 4.86vh;
    background: rgba(217, 217, 217, 0.20);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .titulo-spacequest{
    font-size: 100em;
  }
  .corpo {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
  }
.paginas{
  font-size: 2em;
}


 h2 {
    font-size: 100%;
  }
  .pontuadores {
    width: 90%;
    height: 90%;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 2vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


  }
  .pontuador1,
  .pontuador5 {
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 75%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .pontuador2,
  .pontuador4 {
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 85%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .eu-pontuador {
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .usuario {
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 100%;

  }
  .pontos {
    display: flex;
    align-items: center;
    font-size: 100%;

  }
  img {
    height: 80%;
    border-radius: 30px;
    ;
  }
  h1 {
    padding: 5%;
    font-size: 100%;

  }
  h2 {
    font-size: 100%;
  }
  a {

    text-decoration: none;
    color: #fff;

  }
  .linha {

    border: 1px;

  }
}