input,
button,a {
    box-shadow: none;
    border: none;
    outline: none;
    text-decoration: none;
}


 
/* TELAS PEQUENAS */

@media screen and (max-width: 415px) {
  body {
    font-size: 90%;
  }


 
  .head {
    width: 100%;
    height: auto;
  }

  .corpo {
    width: 100%;
    height: auto;
  }

  .tras {
    width: 100%;
    height: auto;
    padding: 1vh;
  }

  .materia {
    padding: 1%;
    width: 100%;
    height: auto;
  }

  .usuario {
    padding: 1%;
    width: 80%;
  }

  img {
    width: 50%;
    height: 10%;
  }

  h1 {
    font-size: 50%;

  }
  h2{
    font-size: 100%;
  }
  a {
    font-size: 1%;
  }
}


/* TELA GRANDE */

body {
  height: 100vh;
  width: 100vw;
  font-family:  "Russo One",sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--cor-titulo);
  overflow-y: auto;
  justify-content: flex-start;

  background: linear-gradient(180deg, var(--cor-fundo) 0%, var(--cor-secundaria) 100%);
  overflow: hidden;
}

.header{
  width: 100%;
  height: 15%;
}

.logo{
  max-width: 100%;
  max-height: 100%;
}


.head {
  width: 65%;
  height: 7%;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.corpo {
  width: 90%;
  height: 75%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #41beda00;
}

.podio{
  width: 36%;
height: 40%;
flex-shrink: 0;
display: flex;
align-items: end;
background-color: #610404;
margin-top: 2%;
}

.top1{
  width: 33%;
  height: 50%;
  flex-shrink: 0;
  align-items: end;
  padding: 2%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
background: #41BDD9;
}

.top2{
  width: 33%;
  height: 40%;
justify-content: center;
flex-shrink: 0;
align-items: end;
padding: 1%;
display: flex;
border-radius: 10px;
background: #1150A2;
}

.top3{
  width: 33%;
height: 30%;
justify-content: center;
flex-shrink: 0;
align-items: end;
padding: 1%;
display: flex;
border-radius: 10px;
background: #042763;
}


.kart1 {
  position: absolute;
  width: 95px;
  top: 35%;
height: 95px;
flex-shrink: 0;
}


.kart2 {
  position: absolute;
  width: 95px;
  top: 38%;
height: 95px;
flex-shrink: 0;
}


.kart3 {
  position: absolute;
  width: 95px;
  top: 41%;
height: 95px;
flex-shrink: 0;
}

.tras {
  width: 65%;
  height: 50%;
  flex-shrink: 0;
  display: flex;
  background-color: rgba(254, 146, 5, 0);
  padding: 2vh;
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  overflow-y: auto;
}

/*SCROLL*/
.tras::-webkit-scrollbar {
  background-color: #ffffff;
  height: max-content;


}

.tras::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #042763;
}

.materia {
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.50);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 90%;
  height: 30%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1%;
}

.usuario {
  display: flex;
  align-items: center;
  width: 60%;
}

.pontos {
  display: flex;
  align-items: center;
}


h1 {
  font-size: 2em;
  padding: 5%;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1em; /* Ajuste conforme necessário */
}
