input,
button,a {
    box-shadow: none;
    border: none;
    outline: none;
    text-decoration: none;
}

.titulo-spacequest{
   width: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    }

    
.header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: sticky;

}

.cardapio {
    height: 9vh;
    width: 5%;
    background-color: #09326b00;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 150%;
  }
