.header{
width: 100%;
height: auto;
display: flex;
justify-content: space-between;
margin-top: 0px;
align-items: start;
align-content: start;
}

.titulo-spacequest{
    width: 50%;
    background-color: red;
}

.logo{
    max-height: 20vh;
}