
/* Global Styles */
body, input, button, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Russo One', 'Gill Sans', 'Arial Narrow', Arial, sans-serif;
  background: var(--gradiente-body);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

p {
  font-size: 1rem;
  color: #fff;
}

/* TELA GRANDE */
@media screen and (min-width: 416px) {
  body {
      flex-direction: column;
  }
  a {
      color: #ffffff;
  }
}

/* Common Class Styles */
.header, .col-1, .col-2, .col-3, .col-navegacao, .navegacao, .col-4, .titulo-postagem, .postagem, .img-materia, .h1, .linha, .img-perfil {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: var(--shadow-filter);
}

.header {
  width: 100%;
  height: 10vh;
}

.menu-cardapio {
  height: 9vh;
}

.col-1, .col-2, .col-3 {
  width: 80%;;
  margin-top: 1%;
}

.col-1 {
  height: 17%;
  flex-direction: column;
}

.col-2 {
  height: 60%;
  background: rgba(38, 255, 0, 0);
 
}

.col-3 {
  height: 79%;
}

.col-navegacao {
  width: 100%;
  height: 10%;
  justify-content: space-around;
}

.navegacao {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.50);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
  flex-direction: column;
  border-radius: 31px;
  align-content: space-evenly;
}

.col-4 {
  background: rgba(4, 0, 255, 0);
  overflow-y: auto;
  width: 100%;
  height: 85%;
  justify-content: center;
}


.postagem {
  width: 85%;
  height: 27%;
  flex-shrink: 0;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.50);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
margin-top: 3%;
}

.img-materia {
  width: 100%;
  height: 100%;
  background: #0073ff;
 padding: 5%;
  border-radius: 60px;
}

.h1 {
  width: 30%;
  height: 50%;
  flex-direction: column;
  background-color: transparent;
}

.linha {
  width: 7%;
  height: 1%;
}


/* TELA PEQUENA */
@media screen and (max-width: 415px) {
  body {
      width: 100%;
      height: 100vh;
      display: flex;
      overflow: auto;
      justify-content: space-around;
      flex-direction: column;
      background: var(--gradiente-body);
  }

  .col-4 {
      height: 95%;
  }

  .titulo-postagem {
      height: 10%;
  }

  .postagem {
      height: 15%;
      font-size: 100%;
  }
}
