:root {
    --fundo: #042661;
    --caixas: rgba(255, 255, 255, 0.6);
    --transparencia: rgba(217, 217, 217, 0.6);
    --gradiente-body: linear-gradient(180deg, #042661 0%, #41BDDA 100%);
    --gradiente-button: linear-gradient(91deg, #021F59 0%, #1570BF 34.9%, #2685BF 57.29%, #41BDD9 81.25%);
    --shadow-filter: drop-shadow(#000000a8 1rem 1rem 15px);
}

input,
button,
a {
    box-shadow: none;
    border: none;
    outline: none;
    text-decoration: none;
}


body {
    /* font-family: "Russo One", serif; */
    color: #ffffff;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* TELAS GRANDES */
@media screen and (min-width: 417px) {
body {
    height: 100vh;
    width: 100%;
    margin: 1em auto;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    align-items: center;
    background: var(--gradiente-body);

}

a {
    color: #ffffff;
}


.corpo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.col-1 {
    width: 95%;
height: 20%;
    margin-top: 1%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex ;
}

.img-materia {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin-top: 1%;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: ("./img/história.jfif");
    background: linear-gradient(91deg, #021F59 0%, #1570BF 34.9%, #2685BF 57.29%, #41BDD9 81.25%);
}
.h1 {
    width: 30%;
    height: 50%;
    border-radius: 30px;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    background-color: #ff000000;
}

.col-2 {
    width: 95%;
    height: 72%;

    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background: #ffd90000;
    flex-direction: column;
}


.col-3 {
    width: 100%;
    height: 79%;
    flex-wrap: wrap;
    background-color: #00ff1500;
    display: flex;
}
.col-navegacao {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    background: #ff000000;
    justify-content: space-around;
    flex-direction: row;
}

.navegacao {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.5);
    align-items: center;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
}

.linha {
    width: 7%;
    height: 1%;
}

.col-4 {
    width: 100%;
    height: 85%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(191, 190, 244, 0.342);
    overflow-y: scroll;
    border-radius: 30px;
}

.titulo-postagem {
    width: 90%;
    height: 15%;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    background: #00b7ff00;
}

.postagem {
    width: 90%;
    height: 25%;
    border-radius: 35px;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.66);

}

.img-perfil {
    width: 6%;
    height: 70%;
    border-radius: 100%;
    margin: 1%;
}
}


/* TELAS PEQUENAS */
@media screen and (max-width: 415px) {
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        margin: 1em;
        overflow: auto;
        justify-content: space-around;
        flex-direction: column;
        background: var(--gradiente-body);
    }

    a {
        color: #ffffff;
    }

    .corpo{
        width: 100%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .col-1 {
        width: 95%;
    height: 20%;
        margin-top: 1%;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        display: flex ;
    }
    
    .img-materia {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        margin-top: 1%;
        display: flex ;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: ("./img/história.jfif");
        background: linear-gradient(91deg, #021F59 0%, #1570BF 34.9%, #2685BF 57.29%, #41BDD9 81.25%);
    }
 
    .h1 {
        width: 100%;
        height: 50%;
        border-radius: 30px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff000000;
    }
    
    .col-2 {
        width: 95%;
        height: 72%;
    
        margin-top: 1%;
        display: flex;
        flex-wrap: wrap;
        background: #ffd90000;
        flex-direction: column;
    }
    
    
    .col-3 {
        width: 100%;
        height: 79%;
        flex-wrap: wrap;
        background-color: #00ff1500;
        display: flex;
    }
    
    .col-navegacao {
        width: 100%;
        height: 10%;
        display: flex;
        flex-wrap: wrap;
        background: #ff000000;
        justify-content: space-around;
        flex-direction: row;
    }
    .navegacao {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        display: flex;
        flex-wrap: wrap;
        background: rgba(255, 255, 255, 0.5);
        align-items: center;
        flex-direction: column;
        align-content: space-evenly;
        justify-content: center;
    }
    
    .linha {
        width: 7%;
        height: 1%;
    }
    
    .col-4 {
        width: 100%;
        height: 85%;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background: rgba(191, 190, 244, 0.342);
        overflow-y: scroll;
        border-radius: 30px;
    }
    
    .titulo-postagem {
        width: 90%;
        height: 15%;
        border-radius: 30px;
        display: flex;
        flex-wrap: wrap;
        background: #00b7ff00;
    }
    
    .postagem {
        width: 90%;
        height: 25%;
        border-radius: 35px;
        margin-top: 1%;
        display: flex;
        flex-wrap: wrap;
        background: rgba(255, 255, 255, 0.66);
    
    }
    
    .img-perfil {
        width: 6%;
        height: 70%;
        border-radius: 100%;
        margin: 1%;
    }
}