:root {
    --cor-fundo: #042661;
    --cor-secundaria: #41BDDA;
    --cor-titulo: #FFFFFF;
    --cor-card: #FFFFFF;
    --cor-link: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, var(--cor-fundo) 0%, var(--cor-secundaria) 100%);
    color: var(--cor-titulo);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.titulo-spacequest {
    font-size: 1rem;
    font-weight: bold;
    color: var(--cor-titulo);
}

.titulo-spacequest a {
    text-decoration: none;
    color: inherit;
}

.menu-cardapio {
    margin-top: 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    grid-column: 1/4;
}

.caixa-container-materias {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.caixa-materia {
    background-color: var(--cor-card);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.caixa-materia:hover {
    transform: translateY(-5px);
}

.caixa-materia h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.btn-ver-atividades {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-ver-atividades:hover {
    background-color: #004d99;
}

p {
    font-size: 1rem;
    color: #aaa;
}
