input,
button,a {
    box-shadow: none;
    border: none;
    outline: none;
    text-decoration: none;
}


/* TELA GRANDE */

body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: normal;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    color: #ffffff;

    /*BACKGROUND*/
    flex-direction: column;
    align-content: center;
    align-items: center;
    overflow: auto;
    background-repeat: no-repeat;
    background:#042661 ;
}

.header{
    width: 98%;
}

.img-fundo {
    height: 120%;
    width: 120%;
    position: absolute;
    opacity: 20%;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}



p {
    color: #fff;
    font-family:  "Russo One", sans-serif;
    font-size: 1rem;
    font-style: oblique;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.8px;
}

h1 {
    color: #fff;
    font-family: "Russo One",sans-serif;
    letter-spacing: 0.8px;
    font-size: 1.5rem;
}
           
img {
    margin: 0 auto;
    max-width: 100%;
}

.tras {
    width: 60%;
    height: 70%;
    border-radius: 30px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: end;
    background-color: #04266100;
}

.col-1 {

    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 30%;
    height: 95%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2%;
    flex-wrap: wrap;
}

.descriçao {

    width: 90%;
    margin: 1%;
    color: #fff;
    font-family:  "Russo One", sans-serif;
    font-size: 1rem;
    font-style: oblique;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.8px;
}

.col-2 {
    width: 69%;
    height: 95%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: #04266100;
}

.linha1 {
    width: 100%;
    height: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixa-usuario {
    width: 65%;
    height: 90%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.caixa-img-usuario {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: end;
}

.nome-usuario {
    width: 100%;
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-right: 8%;
}

.img-perfil {
    width: 16%;
    height: 35%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 43%;
    border: 1vh solid #fff;
}


.caixa-materia {
    width: 35%;
    height: 80%;
    flex-shrink: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}  

.titulo{
    padding: 5%;
    height: 20%;
    width: 100%;
    background-color: #00000000;
}

.pendencianumber{
    font-size: 120px;
}
         

.materia {
    width: 100%;
    height: max-content;
}

.linha2 {
    width: 100%;
    height: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.caixa-frequencia {
    width: 95%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form{
    display: flex;
    flex-wrap: wrap;
}

/* TELA PEQUENA */
@media screen and (max-width: 416px) {
    body {
        width: 100%;
        
        overflow-x: hidden;
        overflow-y: auto;
    }

    .header {
        width: 95%;
        padding: 3%;
        height: auto;
        border-radius: 30px;
    }

    .menu-cardapio {
        height: 8vh;
    }

    .img-perfil {
        width: 40% !important;
        height: auto !important;
        left: 30%;
        justify-content: flex-start;
        border: 5px solid #fff;
        top:7%;
    }

    .atras {
        width: 90%;
        height: 80%;
        flex-direction: column;
    }

    .col-1, .col-2 {
        width: 100% !important;
        height: auto !important;
    }

    .col-1{
        padding: 5%;
        margin-top: 30%;
    }
    .linha1, .linha2 {
        height: auto !important;
        flex-direction: column;
    }

    .caixa-usuario, .caixa-materia, .caixa-frequencia {
        width: 100% !important;
        height: auto !important;
    }

    .nome-usuario{
        display: none;
    }


    .caixa-materia {
        display: none;
    }

    .caixa-frequencia{
        height: 10vh !important;
    }


    .trocar-foto {
        width: 6%;
        height: 10%;
        right: 34%;
    }
}
button{
    color: #ffffff;
width: 40%;
    border-radius: 30px;
    background: linear-gradient(90deg, #41BCD8 0%, #0D366B 93.96%);
  
}

