<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="refresh" content="90" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/login.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
    </style>

    <script>

    </script>
</head>

<body>

    <div class="caixa">

        <img class="img-perfil" src="./img/perfil imagem.png" alt="">

        <h1 class="texto-login">Login</h1>

        <form class="inputs" action="/login" method="POST">
            <input type="text" placeholder="RM" class="rm" required/>
            

            <input type="current-password" placeholder="Senha" class="senha" required />

            <button type="submit" class="btnEntrar">ENTRAR</button>
        </form>
     

    </div>
</body>


</html>