<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- LINKS -->
    <meta http-equiv="refresh" content="30" />
    <title>ADD materia</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/addmateria.css">
</head>

<body>
    <div class="header">

        <a class="titulo-spacequest" href="./home-prof">
            <h3 >SPACE<br> ‎ ‎ QUEST</h3>
        </a>

        <div class="menu-superior"> 
            <%- include('../../partials/menu-superior-prof') %>

        </div>

    </div>

    <div class="col-1">
        <div class="col-2">
        <h2>cadastro materias</h2>

        
        <input type="color" class="cor-materia" src="./img/xadrez-tabuleiro.png" style="border-radius: 10%;">
        <h2>NomeMateria</h2>
        
        <input type="text"size="40" class="cadastros"  placeholder="nome" >
        <input type="text"size="40" class="cadastros"  placeholder="professor" >

        <button class="button">CADASTRAR</button>
       </div>
    </div>
    
</body>

</html>