<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- LINKS -->
    <meta http-equiv="refresh" content="30" />
    <title>ADD materia</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/addmateria.css">
</head>

<body>
    <div class="header">

        <a class="titulo-spacequest" href="./home-prof">
            <h3 >SPACE<br> ‎ ‎ QUEST</h3>
        </a>

        <div class="menu-superior"> 
            <%- include('../../partials/menu-superior-prof') %>

        </div>

    </div>

    <div class="col-1">
      
        <h2>cadastro materias</h2>
        <form action="/addmateria" method="POST">
            <!-- Campo para escolher a cor da matéria -->
            <input type="color" id="corMateria" name="corMateria" class="cor-materia" required><br><br>
    
            <!-- Campo para o nome da matéria -->
            <label for="nomeMateria">Nome da Matéria:</label>
            <input type="text" id="nomeMateria" name="nomeMateria" class="cadastros" size="40" required><br>
    
            <!-- Campo para selecionar o professor -->
            <label for="idProfessor">Professor:</label>
            <select id="idProfessor" name="idProfessor" class="cadastros" required>
                <% professores.forEach(function(professor) { %>
                    <option value="<%= professor.ID_Professor %>"><%= professor.Nome %></option>
                <% }); %>
            </select><br><br>
    
            <!-- Botão de cadastro -->
            <button type="submit" class="button">CADASTRAR</button>
         </form>

    </div>
    
</body>

</html>
