<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pessoas</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/addpessoas.css">
</head>

<body>
    <img class="img-fundo" src="img/fundo.png">

    <div class="header">

    
            <h3 class="titulo-spacequest"><a href="./home-prof">SPACE<br> ‎ ‎ QUEST</h3> </a>
        

        <div class="menu-cardapio">
            <%- include('../../partials/menu-superior-prof') %>

        </div>

    </div>

    <main class="caixa-atras-1">
        <section class="caixa-atras-2">
            <div class="linha-1">
                <input type="text" class="inputs-para-cadastros" placeholder="RM">
                <input type="text" class="inputs-para-cadastros" placeholder="Nome">
                <input type="text" class="inputs-para-cadastros" placeholder="Tipo">
                <input type="text" class="inputs-para-cadastros" placeholder="Série/Curso">
            </div>

            <div class="linha-2">
                <button class="button-cadastrar">
                    <h1 class="text-cadastrar">CADASTRAR</h1>
                </button>
            </div>

            <div class="linha-3">
                <table class="TABELA">
                    <thead class="cabeçalho-tabela">
                        <tr>
                            <th id="rm">RM</th>
                            <th id="nome">Nome</th>
                            <th id="tipo">Tipo</th>
                            <th id="serie-curso">Série/Curso</th>
                        </tr>
                    </thead>
                    <tbody class="dados">
                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                            <td>Data 4</td>
                        </tr>

                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                            <td>Data 4</td>
                        </tr>

                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                            <td>Data 4</td>
                        </tr>

                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                            <td>Data 4</td>
                        </tr>


                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                            <td>Data 4</td>
                        </tr>


                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                            <td>Data 4</td>
                        </tr>
                        <!-- Adicione mais linhas aqui conforme necessário -->
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>

</html>
