<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- LINKS -->
    <meta http-equiv="refresh" content="30" />
    <title>Add turma</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <link rel="stylesheet" type="text/css" href="css/addturma.css">
</head>

<body>
    <div class="header">

        <a class="titulo-spacequest" href="./">
            <h3>SPACE<br> ‎ ‎ QUEST</h3>
        </a>

        <div class="menu">
            <%- include('../../partials/menu-superior-prof') %>

        </div>

    </div>

    <div class="atras-1">
        <div class="linha-1">
            <div class="col-1-cor">
                <input type="color" class="cor-materia" src="./img/xadrez-tabuleiro.png" style="border-radius: 10%;">
            </div>

            <div class="col-2-inputs">
                <div class="inputs">
                    <input type="text" class="Serie-turma" placeholder="Serie">
                    <input type="text" class="curso" placeholder="curso" id="">
                    <button class="botao-cadastrar">CADASTRAR</button>

                </div>

            </div>

        </div>

        <div class="linha-2">
            <div class="col-alunos">
                <div class="aluno-lista">
                    <img class="img-perfil" src="img/perfil imagem.png">
                    <p class="nome-aluno-lista">nome</p>
                </div>
                <div class="aluno-lista">
                    <img class="img-perfil" src="img/perfil imagem.png">
                    <p class="nome-aluno-lista">nome</p>
                </div>
                <div class="aluno-lista">
                    <img class="img-perfil" src="img/perfil imagem.png">
                    <p class="nome-aluno-lista">nome</p>
                </div>
                <div class="aluno-lista">
                    <img class="img-perfil" src="img/perfil imagem.png">
                    <p class="nome-aluno-lista">nome</p>
                </div> 
                <div class="aluno-lista">
                    <img class="img-perfil" src="img/perfil imagem.png">
                    <p class="nome-aluno-lista">nome</p>
                </div>
                <div class="aluno-lista">
                    <img class="img-perfil" src="img/perfil imagem.png">
                    <p class="nome-aluno-lista">nome</p>
                </div>
                <button class="mais-alunos">
                    <h1>+</h1>
                </button>
            </div>
            <div class="col-materias">
                <div class="materia-lista">
                    <img class="img-materia" src="img/perfil imagem.png">
                    <p class="nome-materia-lista">nome</p>
                </div>
                <div class="materia-lista">
                    <img class="img-materia" src="img/perfil imagem.png">
                    <p class="nome-materia-lista">nome</p>
                </div>
                <div class="materia-lista">
                    <img class="img-materia" src="img/perfil imagem.png">
                    <p class="nome-materia-lista">nome</p>
                </div>
                <div class="materia-lista">
                    <img class="img-materia" src="img/perfil imagem.png">
                    <p class="nome-materia-lista">nome</p>
                </div>
                <div class="materia-lista">
                    <img class="img-materia" src="img/perfil imagem.png">
                    <p class="nome-materia-lista">nome</p>
                </div>
                <div class="materia-lista">
                    <img class="img-materia" src="img/perfil imagem.png">
                    <p class="nome-materia-lista">nome</p>
                </div>
                <div class="materia-lista">
                    <img class="img-materia" src="img/perfil imagem.png">
                    <p class="nome-materia-lista">nome</p>
                </div>
                <button class="mais-materias">
                    <h1>+</h1>
                </button>
            </div>

        </div>
    </div>

</body>

</html>