<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desempenho Geral Prof</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/desempenho-geral.css">
</head>
<!-- arthur -->

<body>

    <div class="header">

        <h3 class="titulo-spacequest"><a href="./home-prof">SPACE<br> ‎ ‎ QUEST</h3> </a>

        <div class="menu-cardapio"> 
            <%- include('../../partials/menu-superior-prof') %>

        </div>

    </div>

    <div class="head">
       
     
        <a href="./desempenho-classe-prof" class="paginas">
            <h2>Classe </h2>
        </a>
 
        <a href="./desempenho-geral-prof" class="paginas">
            <h2>Geral </h2>
        </a>
    </div>
    <br>


    <div class="corpo">
        <div class="tras">


            <div class="classe">
                <div class="usuario">
                    <img class="img-classe" src="./img/xadrez-tabuleiro.png" alt="imagem de perfil">
                    <h1>Nome Classe</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>

            <div class="classe">
                <div class="usuario">
                    <img class="img-classe" src="./img/xadrez-tabuleiro.png" alt="imagem de perfil">
                    <h1>Nome Classe</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>

            <div class="classe">
                <div class="usuario">
                    <img class="img-classe" src="./img/xadrez-tabuleiro.png" alt="imagem de perfil">
                    <h1>Nome Classe</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>

            <div class="classe">
                <div class="usuario">
                    <img class="img-classe" src="./img/xadrez-tabuleiro.png" alt="imagem de perfil">
                    <h1>Nome Classe</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>

            <div class="classe">
                <div class="usuario">
                    <img class="img-classe" src="./img/xadrez-tabuleiro.png" alt="imagem de perfil">
                    <h1>Nome Classe</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>

            <div class="classe">
                <div class="usuario">
                    <img class="img-classe" src="./img/xadrez-tabuleiro.png" alt="imagem de perfil">
                    <h1>Nome Classe</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>

            <div class="classe">
                <div class="usuario">
                    <img class="img-classe" src="./img/xadrez-tabuleiro.png" alt="imagem de perfil">
                    <h1>Nome Classe</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>

            <div class="classe">
                <div class="usuario">
                    <img class="img-classe" src="./img/xadrez-tabuleiro.png" alt="imagem de perfil">
                    <h1>Nome Classe</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>

            <div class="classe">
                <div class="usuario">
                    <img class="img-classe" src="./img/xadrez-tabuleiro.png" alt="imagem de perfil">
                    <h1>Nome Classe</h1>
                </div>
                <div class="pontos">
                    <h1>50 </h1>
                </div>
            </div>


        </div>
    </div>
</body>

</html>