<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- LINKS -->
    <meta http-equiv="refresh" content="30" />
    <title>HOME Prof</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body>

    <img class="img-fundo" src="img/fundo.png">
    <div class="col-1">
        <div class="atras-menu">
            <%- include('../../partials/menu-lateral-prof') %>
        </div>

        <div class="corpo">

            <div class="hearder">

                <div class="planetas-bimestrais">
                    <img class="img-planetas" src="img/planeta 01Bimestre.png">
                    <img class="img-planetas" src="img/planeta 02Bimestre.png">
                    <img class="img-planetas" src="img/planeta 03Bimestre.png">
                    <img class="img-planetas" src="img/planeta 04Bimestre.png">
                </div>

                <div class="linha"></div>
                <img class="nave" src="img/nave-espacial.png">
            </div>

            <div class="atras">
                <div class="col-2">
                    <div class="col-3">
                        <div class="noticias">
                            <h3>Noticías</h3>
                        </div>
                        <div class="pendencias">
                            <h3>Pendências</h3>
                            <h1>9</h1>
                        </div>
                    </div>

                    <a href="./inicio-game-prof" class="minigame">
                        <div class="minigame">
                            <h3 class="titulo-spacequest">SPACE<br>‎ ‎ QUEST</h3>
                            <img class="kart" src="img/astrokart.png">
                        </div>
                    </a>
                </div>

                <div class="div-semana">
                    <button class="open-popup semana">
                        <p>SEG</p>
                    </button>
                    <div class="popup popup-hidden">
                        <div class="popup-content">
                            <span class="close-popup close-btn">&times;</span>
                            <h2>SEGUNDA</h2>
                            <ul>
                                <li><a href="#">portuga</a></li>
                                <li><a href="#">Opção 2</a></li>
                                <li><a href="#">Opção 3</a></li>
                                <li><a href="#">Opção 4</a></li>
                            </ul>
                        </div>
                    </div>

                    <button class="open-popup semana">
                        <p>TER</p>
                    </button>
                    <div class="popup popup-hidden">
                        <div class="popup-content">
                            <span class="close-popup close-btn">&times;</span>
                            <h2>TERÇA</h2>
                            <ul>
                                <li><a href="#">portuga</a></li>
                                <li><a href="#">Opção 2</a></li>
                                <li><a href="#">Opção 3</a></li>
                                <li><a href="#">Opção 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
    const openPopupBtns = document.querySelectorAll('.open-popup');
    const closePopupBtns = document.querySelectorAll('.close-popup');
    const popups = document.querySelectorAll('.popup');

    openPopupBtns.forEach((btn, index) => {
        btn.addEventListener('click', (event) => {
            event.stopPropagation();
            popups[index].classList.remove('popup-hidden');
        });
    });

    closePopupBtns.forEach((btn, index) => {
        btn.addEventListener('click', (event) => {
            event.stopPropagation();
            popups[index].classList.add('popup-hidden');
        });
    });

    // Fechar o pop-up clicando fora dele
    window.addEventListener('click', (event) => {
        popups.forEach(popup => {
            if (!popup.contains(event.target) && !popup.classList.contains('popup-hidden')) {
                popup.classList.add('popup-hidden');
            }
        });
    });
});

    </script>
</body>

</html>
