<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- LINKS -->
    <meta http-equiv="refresh" content="30" />
    <title>MINIGAME KART</title>
    <link rel="stylesheet" type="text/css" href="css/minigame-kart.css">
</head>


<body>

<div class="corpo">


    <a href="./quiz" class="minigame">


        <img class="pista" src="img/pista.png">

    </a>
    <div class="col">

        <img class="competidor" src="img/perfil imagem.png">
        <img class="competidor" src="img/perfil imagem.png">
        <img class="competidor" src="img/perfil imagem.png">
        <img class="competidor" src="img/perfil imagem.png">
        <img class="competidor" src="img/perfil imagem.png">
        <img class="competidor" src="img/perfil imagem.png">
        <img class="competidor" src="img/perfil imagem.png">

    </div>

    <img class="kart3" src="img/astrokart.png">

    <img class="kart2" src="img/astrokart.png">

    <img class="kart1" src="img/astrokart.png">

</div>

</body>

</html>