<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="refresh" content="" />
    <title>perfil prof</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="css/perfil.css">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <img class="img-fundo" src="/img/fundo.png">

    <div class="header">

        <a class="titulo-spacequest" href="./">
            <h3 >SPACE<br> ‎ ‎ QUEST</h3>
 
        </a>

        <div class="menu"> 
            <%- include('../../partials/menu-superior-prof') %>

        </div>

    </div>

    <br>


    <div class="atras">

        <div class="col-1">
            <h1 class="dados-usuario">Dados do Usuario</h1>
            <p class="descriçao">
                INFO:XXXXXXXXX
                <br>
                <br>
                INFO:XXXXXXX
                <br>
                <br>
                INFO:XXXXXXXXXX
                <br>
                <br>
                INFO:XXXXXXXX
                <br>
                <br>
                INFO:XXXXX
                <br>
                <br>
                INFO:XXXXXXXX
                <br>
                <br>
                INFO:XXXXXXXX
                <br>
                <br>
                INFO:XXXXXX
                <br>
                <br>
                INFO:XXXXXX

            </p>
        </div>

        <div class="col-2">

            <div class="linha1">
                <div class="caixa-usuario">

                    <div class="caixa-img-usuario">
                        <img class="img-perfil" src="img/perfil imagem.png">
                        <button class="trocar-foto"> <img class="img-camera-trocar-foto" src="img/cam.png"> </button>
                    </div>

                    <p class="nome-usuario">NOME USUARIO</p>
                </div>

                <div class="caixa-materia">
                    <a href="./materias" class="materia">
                        <h1>materias</h1>
                    </a>
                    <a href="./materias" class="materia">
                        <h1>materias</h1>
                    </a> 
                    <a href="./materias" class="materia">
                        <h1>materias</h1>
                    </a>
                    <a href="./materias" class="materia">
                        <h1>materias</h1>
                    </a>
                    <a href="./materias" class="materia">
                        <h1>materias</h1>
                    </a>
                    <a href="./materias" class="materia">
                        <h1>materias</h1>
                    </a>
                    <a href="./materias" class="materia">
                        <h1>materias</h1>
                    </a>
                </div>

            </div>

            <div class="linha2">
                <div class="caixa-frequencia">atividades para vencer
                </div>
            </div>

        </div>

    </div>

</body>

</html>