<!DOCTYPE html>
<html>
<head>
    <title>Professores</title>
</head>
<body>
    <h1>Lista de Professores</h1>
    <ul>
        <% professores.forEach(professor => { %>
            <li><%= professor.Nome_Professor %></li>
        <% }); %>
    </ul>
</body>
</html>
